<% include partials/header.ejs %>

<h1>Landing Page</h1>

<p>Welcome to YelpCamp</p>

<h3>To add new Campground, hit the link below</h3>

<a href="/campgrounds/new">Add</a>

<h3>Added Campgrounds link below</h3>
<a href="/campgrounds">Campgrounds</a>



<% include partials/footer.ejs %>